<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>

    <title>MyAfterSchoolClub</title>
</head>
<body>
    <div id="app">
    <input id="inp4" type="text">

    <header>
        <h1 v-text="sitename"></h1> 
        
        <button v-on:click="showCheckout">
            {{ itemsInTheCart }}
            <span class="fa-solid fa-cart-shopping"></span>
            Checkout
            </button>
            
    </header>

    <main>
        <div v-if="showProduct">
            <figure>
                <img v-bind:src="product.image" alt="This is an item of the English Language Product">
                </figure>

                <h1 v-text="product.title"></h1>
                <p v-text="product.description"></p>
                <p>Price: {{product.price}}</p>
    <!--v-show can be used-->
        <button v-if="canAddToTheCart" v-on:click="addItemToTheCart">
                    Add to the Cart</button>
            <div v-else>
                <button disabled>Add to the Cart</button>
                There are no more spaces left avilable for this item for you to purchase
            </div>
        </div>
        <div v-else>
            <h1>This is the Checkout Section</h1>
        </div>   

    </main>
            <!--method is where you call the method so by your actions -->
            <!--computed is what vue.js does from the inside to make sure your request is delivered-->
    <!-- {{myVariable}} -->
</div>
    <script>
        let webstore = new Vue({
            el: "#app",
            data: {
                myVariable: "ok",
                sitename: "AfterSchoolClub",
                showProduct: true,
                
                product: {
                    id: 1001,
                    title: "Subject: English Language",
                    description: "This subject is based on learning the English Language.",
                    price: 2000,
                    image: "images/EnglishIcon.png",
                    location:"London",
                    availableInventory: 5
                },
                cart: []
            },

            methods: {
                showCheckout: function() {
                    if (this.showProduct) {
                        this.showProduct = false
                    } else {
                        this.showProduct = true
                    }
                    
                },
                addItemToTheCart: function() {              
                    this.cart.push(this.product.id);
                }
            },
             
            computed: {
                itemsInTheCart: function() {
                   return this.cart.length || "";
                },
                canAddToTheCart: function() {
                     return this.product.availableInventory > this.itemsInTheCart
                }
            }
        })
    </script>
</body>
</html>