<h2>Checkout</h2>
<p>
    <strong>First Name:</strong>
    <!--This input field is bound to 'firstName' in the 'order' object-->
    <input v-model="order.firstName"/>
</p>
<input v-model.trim="order.firstName"
<p>
    <strong>Last Name:</strong>
    <!--This input field is bound to 'lastName' in the 'order' object-->
    <input v-model="order.lastName"/>
</p>
<h2>Order Information</h2>
<p>First Name: {{order.firstName}}</p>
<p>Last Name: {{order.lastName}}</p>
<p>Address: {{order.address}}</p>
<p>City: {{order.address}}</p>
<p>Zip: {{order.zip}}</p>
<p>State: {{order.state}}</p>




<p>
    <strong>Address:</strong> <input v-model="order.address"/>
</p>
<p>
    <strong>City:</strong> <input v-model="order.city"/>
</p>
<p>
    <strong>State:</strong>
    <select v-model="order.state">
        <option disabled value="">State</option>
        <option>NY</option>
        <option>LDN</option>
        <option>CA</option>
        <option>NV</option>
    </select>
</p>
<p>
    <strong>Zip/Postal Code:</strong> <input v-model="order.zip">
</p>

<select v-model="order.state">
    <option disabled value="">State</option>
   <option v-for="(state, key) in states"
   v-bind:value="state">
    {{key}}
</option>
</select>

<div id="app">
    <ol>
        <li v-for="state in states">{{state}}</li>
    </ol>
</div>

<script type="test/javascript">
    var webstore = new Vue{{
        el: '#app',
        data: {'New York, London, California, Nevada' }
    }}
</script>

<p><input type="checkbox" id="gift" value="true" v-model="order.gift"></p>
<label for="gift">Ship As Gift?</label></p>

<input type="radio" id="home" value="Home" v-model="order.method">
<label for="home">Home</label>
<input type="radio" id="business" value="Business" v-model="order.method">
<label for="business">Business</label></p>

<!--Add a place order button with v-on:-->
<button v-on:blick="submitForm">Place Order</button>


