#calculator{
    font-family:Arial, sans-serif;
    background-color: rgb(72, 66, 66);
    border-radius: 15px;
    max-width: 300px;
    overflow:hidden;
}

#keys{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap:5px;
    padding: 25px;
}

button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: red;
    color:rgb(29, 70, 163);
    font-size: 5rem;
    font-weight:bold;
    cursor: pointer;
    font-size: 2em;



}